@page
@model QamarWeb.Pages_CR.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CommercialRentals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommercialRentals.CRid" />
            <div class="form-group">
                <label asp-for="CommercialRentals.Iid" class="control-label"></label>
                <input asp-for="CommercialRentals.Iid" class="form-control" asp-items="ViewBag.Iid">
                <span asp-validation-for="CommercialRentals.Iid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.Eid" class="control-label"></label>
                <select asp-for="CommercialRentals.Eid" class="form-control" asp-items="ViewBag.Eid"></select>
                <span asp-validation-for="CommercialRentals.Eid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.Address" class="control-label"></label>
                <input asp-for="CommercialRentals.Address" class="form-control" />
                <span asp-validation-for="CommercialRentals.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.DateOfList" class="control-label"></label>
                <input asp-for="CommercialRentals.DateOfList" class="form-control" />
                <span asp-validation-for="CommercialRentals.DateOfList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.CostPCM" class="control-label"></label>
                <input asp-for="CommercialRentals.CostPCM" class="form-control" />
                <span asp-validation-for="CommercialRentals.CostPCM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.Area" class="control-label"></label>
                <input asp-for="CommercialRentals.Area" class="form-control" />
                <span asp-validation-for="CommercialRentals.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialRentals.Description" class="control-label"></label>
                <input asp-for="CommercialRentals.Description" class="form-control" />
                <span asp-validation-for="CommercialRentals.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
