@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    
</head>

<div class="HomeContainer">
    <body>
        <img src="/images/Img2.png" alt="HomePageInitial" class="home-image">
    </body>
    <div class="homewritingContainer"> 
        <h1 class="home-title">Welcome to Qamar Estate Agency</h1>
        <p class="home-paragraph">We are a real estate agency that provides a wide range of services to our clients. We have been in business for over 20 years and have helped thousands of people find their dream homes. Whether you are looking to buy, sell, or rent a property, we can help you every step of the way. Our team of experienced agents will work with you to find the perfect property that meets your needs and budget. Contact us today to get started!</p>
    </div>


    <div class = "evalPicture">
        <img src="/images/Evaluation.png" alt="Evaluation Picture">
    </div>
</homecontainer>

</html>